{% extends 'layout.html' %}

{% block title %}Log In - FlowFin{% endblock %}

{% block content %}
    <section style="background-color: #bee5eb; padding: 20px;">
        <h2>Log In</h2>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Log In</button>
        </form>
    </section>
{% endblock %}
